@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Geist:wght@400;500;600;700&display=swap");

*:focus {
  outline: none !important;
}

body {
  font-family: "Geist", sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #55575c;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #6b7488 transparent;
}
